h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    /* Sombra numero 6 */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
    text-align: center;
    color: white;
    /* Somba numero 9 */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.iosevka-charon-mono-regular {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(https://deadbydaylight.com/static/a5cdc5db3804f817df112184c81f5ead/93f85/dbd-gallery-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: center center;
}

.recuadro{
    margin: 6% 36%;
    padding: 1%;
    background-image: url(https://img.freepik.com/vector-gratis/ilustracion-pared-ladrillo-negro-noche-textura-fachada-mamposteria-blanco-grunge_575670-269.jpg?semt=ais_incoming&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 25%;
    height: 30%;
    border-radius: 5%;
}

.cuadro{
    margin: 2%;
    padding: 3%;
    width: 35% 2%;
    height: 93%;
    border-radius: 5%;
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imagen{
    background-image: url(personaje.png);
    background-repeat: no-repeat;
    background-size: 85% 67%;
    background-position: 80% 23%;
}
